.form {
    padding: 1rem;
}

form {
    display: flex;
    padding: $font-sm $font-lg;
}

form input {
    flex-grow: 1;
    margin: 0 $font-sm 0 0;
    background-color: $dkgreen-600;
    color: $bunny-500;
    border: .5rem solid $dkgreen-700;
    font-size: $font-lg;
    padding: .6rem .2rem;
}

@media (max-width:600px) {
    form {
        flex-direction: column;
    }

    form input{
        margin: 0 0 $font-sm 0;
    }
}