button {
    cursor: pointer;
    color: $bunny-500;
    background-color: inherit;
    border: .25rem solid;
    border-color: $bunny-500;
    border-radius: .5rem;
    padding: .75rem;
}

button:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.1)
}

button:disabled {
    cursor: default;
    opacity: 20%;
}

button.primary{
    border: none;
    color: white;
    background-color: $bunny-500;
    border-bottom: .6rem solid $bunny-600;
}

button.primary:hover{
    background-color: $bunny-600;
}

.big-button {
    font-weight: $font-bold;
    font-size: 2.5rem;
    width: 95%;
    height: 6rem;
    margin: 1rem 2.5%;
}

.secret-button {
    border: none;
    color: $dkgreen-600;
    background-color: $dkgreen-700;
    margin: 1rem 2.5%;
}

.secret-button:hover {
    cursor: default;
    background-color: $dkgreen-800;
}


.remove-button {
    border: none;
}