header {
    box-sizing: border-box;
    background-color: $dkgreen-900;
    margin-bottom: 2rem;
    padding: 2.8rem 2.4rem;
}

h1 {
    font-size: 3.6rem;
    margin: 0;
}

h2 {
    color: $bunny-600;
    font-size: $font-2xl;
    font-weight: $font-normal;
    margin: 0;
}

@media (max-width:40rem) {
    header {
        padding: 2.8rem 2.4rem 1.4rem 2.4rem;
        margin-bottom: $font-sm;
    }
}