.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal div.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms ease-in-out;
}

.ReactModalPortal div.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal div.ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background-color: $dkgreen-900;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem 2.0rem 2.0rem;
    max-width: 75%;
}
