.options-header {
    display: flex;
    justify-content: space-between;
    font-weight: 750;
    background-color: $dkgreen-900;
    padding: 1rem;
}

.options-list {
    background-color: $dkgreen-900;
    border: .75rem solid $dkgreen-900;
}

.option-item {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: 1.2rem auto;
    padding: 1rem;
    background-color: $dkgreen-800;
}