//Colors 

$bunny-100: #D7FECB;
$bunny-200: #A6FD97;
$bunny-300: #6BF963;
$bunny-400: #3DF444;
$bunny-500: #00EE20;
$bunny-600: #00CC2E;
$bunny-700: #00AB36;
$bunny-800: #008A38;
$bunny-900: #007239;

$dkgreen-500: #005b20;
$dkgreen-600: #004020;
$dkgreen-700: #003020;
$dkgreen-800: #002010;
$dkgreen-900: #001010;

$grey-050: #f8faf9;
$grey-100: #eaefeb;
$grey-200: #dbe3dc;
$grey-300: #cbd6cd;
$grey-400: #bac7bb;
$grey-500: #a6b8a8;
$grey-600: #8fa592;
$grey-700: #749078;
$grey-800: #59725c;
$grey-900: #344336;

$black-700: #1b2a1d;
$black-800: #011003;
$black-900: black;

$red-100: #FFEDD3;
$red-200: #FFD6A9;
$red-300: #FFB97E;
$red-400: #FF9E5D;
$red-500: #FF7028;
$red-600: #DB501D;
$red-700: #B73514;
$red-800: #93200C;
$red-900: #7A1007;

$purple-100: #FDE4F8;
$purple-200: #FCCAF6;
$purple-300: #F6ADF3;
$purple-400: #EA96ED;
$purple-500: #d573e2;
$purple-600: #AC54C2;
$purple-700: #8539A2;
$purple-800: #612483;
$purple-900: #46166C;

$blue-100: #CFE9FD;
$blue-200: #A0D0FC;
$blue-300: #70B1F8;
$blue-400: #4B94F1;
$blue-500: #1469E8;
$blue-600: #0E51C7;
$blue-700: #0A3CA7;
$blue-800: #062A86;
$blue-900: #031D6F;

$yellow-100: #FFFCCE;
$yellow-200: #FFF99C;
$yellow-300: #FFF56C;
$yellow-400: #FFF047;
$yellow-500: #FFEA0A;
$yellow-600: #DBC707;
$yellow-700: #B7A505;
$yellow-800: #938303;
$yellow-900: #7A6B01;
