* {
    transition: 150ms;
}

body {
    background-color: $dkgreen-800;
    color: $bunny-500;
    font-family: $text-font;
    font-size: $font-md;
}

.container {
    max-width: 1024px;
    background-color: $dkgreen-900;
    margin: 0 auto $font-lg;
    padding: 0;
}

.italics {
    font-style: italic;
    text-align: center;
}

.error {
    color: $red-700;
    font-style: italic;
    text-align: center;
    background-color: $dkgreen-800;
    margin: $font-md;
}
