//Colors

$dkgreen0: #001010;
$dkgreen1: #002010;
$dkgreen2: #003020;
$dkgreen3: #004020;
$dkgreen4: #005b20;
$green: #00ee20;
$green1: #00aa20;
$ltgreen: #afddaf;
$ltgray0: #b0b0b0;
$ltgray1: #a0a0a0;
$ltgray2: #909090;
$gray0: #808080;
$gray1: #707070;
$error: #ff3c3c;

// Sizes

$s-size: 1.6rem;
$m-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 4.8rem;